body {
    font-family: 'Arial', sans-serif;
    background: #f9f9f9;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  header {
    background: #6c63ff;
    color: white;
    padding: 20px;
  }
  
  button {
    background: #6c63ff;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background: #574bff;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  